[Unit]
Description=Person Detection Robot
After=network.target
Wants=network.target

[Service]
Type=simple
User=ediylabs
WorkingDirectory=/home/ediylabs/mobilenet-ssd
ExecStart=bin/bash -c 'source /home/ediylabs/cv/bin/activate && python /home/ediylabs/mobilenet-ssd/main_working.py'
Restart=on-failure
RestartSec=5s
Environment="Display=:0"
Environment="XAUTHORITY=/home/ediylabs/.Xauthority"
Environment="PLUSE_SERVER=none"
Environment="AUDIODEV=hw:0,0"

[Install]
WantedBy=multi-user.target